<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        <button class="btn btn-outline-primary" (click)="goTo('characters')">Characters</button>
        <button class="btn btn-outline-success" (click)="goTo('locations')">Locations</button>
        <button class="btn btn-outline-danger" (click)="goTo('episodes')">Episodes</button>
      </div>
      <ng-container *ngIf="type !== 'detail'">
        <div class="d-flex justify-content-center align-items-center">
          <input [formControl]="searchControl" type="search" id="form1" class="form-control" placeholder='Search...' />
        </div>
      </ng-container>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
